<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- fontawesome cdn link --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Dapper || Grooming</title>
    <!-- custom css  -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
        {{!-- header section start here  --}}
<div class="header" id="header-section">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <i class="fas fa-cut text-danger fa-3x"></i>
            <a class="navbar-brand" href="#">DAPPER.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">CONTACT</a>
                    </li>
                </ul>
            </div>
            <div class="nav-right-content">
                <button class="btn-lg btn-danger">BOOK NOW</button>
            </div>
        </div>
    </nav>
    <header id="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 text-center col-style">
                    <p class="text-danger">WELCOME TO HAIRCARE</p>
                    <h1 class="display-2">WE ARE PROFESSIONAL CARE FOR YOUR HAIR</h1>
                    <div class="nav-right-content">
                        <button class="btn-lg btn-danger">BOOK NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
    {{!-- header section end here  --}}

    <!-- primary section staret here  -->

    <section id="primary-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <figure><img class="content-width" src="images/2.jpg" alt="second Image"></figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12 text-center margin-style">
                    <i class="fas fa-cut text-danger fa-3x"></i>
                    <a class="navbar-brand text-danger" href="#">DAPPER.</a>
                    <h4 class="text-dark">WELCOME TO OUR SALON</h4>
                    <p class="text-muted para-style">A small river named Duden flows by
                        their place and supplies it with the necessary regelialia. It
                        is a paradisematic country, in which roasted parts of sentences fly into your mouth. Far far
                        away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                        blind texts.</p>
                    <div class="nav-right-content">
                        <button class="btn-lg btn-danger">READ MORE</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <figure>
                        <img class="content-width" src="images/3.jpg" alt="third image">
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <!-- primary section end here  -->

    <!-- secondary section start here  -->
    <section id="secondary-section" class="bg-light">
        <div class="container">
            <div class="row text-center py-5">
                <p class="text-danger">SERVICES</p>
                <h3 class="text-dark">SERVICES MENU</h3>
                <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12 shadow-property text-center py-5 px-5">
                    <img src="images/4.png" alt="" class="w-25">
                    <h3 class="text-dark h5">Haircare & Styling</h3>
                    <p class="px-3 text-muted" >A small river named Duden flows by their place and supplies.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-12 shadow-property text-center py-5 px-5">
                    <img src="images/5.png" alt="" class="w-25">
                    <h3 class="text-dark h5">Beard</h3>
                    <p class="px-3 text-muted">A small river named Duden flows by their place and supplies.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-12 shadow-property text-center py-5 px-5">
                    <img src="images/6.png" alt="" class="w-25">
                    <h3 class="text-dark h5">Makeup</h3>
                    <p class="px-3 text-muted">A small river named Duden flows by their place and supplies.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-12 shadow-property text-center py-5 px-5">
                    <img src="images/7.png" alt="" class="w-25">
                    <h3 class="text-dark h5">Body Treatment</h3>
                    <p class="px-3 text-muted">A small river named Duden flows by their place and supplies.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- secondary section end here  -->

    <!-- ternary section start here  -->
    <section id="ternary-section" class="backg_style">
        <div class="container">
            <div class="row text-center py-5" style="line-height: 3;">
                <p class="text-danger">BOOKING</p>
                <h1 class="text-dark my_awsm_style">MAKING AN APPOINTMENT</h1>
                <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia</p>
            </div>
            <div class="row">
                <form action="/login" method="post">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 input-field-style">
                            <input type="text" name="name" id="fullname" placeholder="Name">
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 input-field-style">
                            <input type="email" name="email" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 input-field-style">
                            <input type="date" name="date" id="date" placeholder="Date">
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 input-field-style">
                            <input type="time" name="time" id="time" placeholder="Time">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 input-field-style">
                            <input type="text" name="makeuptype" id="makeup" placeholder="Professional makeup type">
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 input-field-style">
                            <input type="phone" name="phone" id="phone" placeholder="Phone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 input-field-style">
                            <textarea name="text" id="textfield" cols="20" rows="10" placeholder="Your msg"
                                class="w-100"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="nav-right-context">
                            <button class="btn-lg btn-danger">BOOK NOW</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>
    <!-- ternary section end here  -->

    <!-- quadration section start here  -->
    <section id="quadratic-section">
        <div class="container">
            <div class="header-part text-center py-5 lh-3">
                <p class="text-danger">Artistic Directors</p>
                <h1 class="text-dark">MAKEUP ARTIST</h1>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
                    consequuntur.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="card w-100">
                        <img class="card-img-top img-dynamic" src="images/director.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-danger h4">Director</p>
                            <p class="card-text text-muted">Chloe Simpson</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="card w-100">
                        <img class="card-img-top img-dynamic" src="images/hairstylist.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-danger h4">Hair Stylist</p>
                            <p class="card-text text-muted">Neyma Khan</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="card w-100">
                        <img class="card-img-top img-dynamic" src="images/nailartist.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-danger h4">Makeup Artist</p>
                            <p class="card-text text-muted">Jennifer Lopez</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="card w-100">
                        <img class="card-img-top img-dynamic" src="images/barber.JPG" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-danger h4">Barber</p>
                            <p class="card-text text-muted" >Harley Simpson</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- quadration section end here  -->

    <!-- pentaoic-section start here  -->
    <section id="pentaoic-section" class="h-100">
        <div class="header-part text-center py-5 lh-3">
            <p class="text-danger">GALLERY</p>
            <H1 class="text-dark">OUR GALLERY</H1>
            <P class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, doloremque. Lorem
                ipsum dolor sit amet.</P>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12 jumbo-class">
                    <img src="images/9.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 jumbo-class">
                    <img src="images/10.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 jumbo-class">
                    <img src="images/11.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 jumbo-class">
                    <img src="images/12.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 jumbo-class">
                    <img src="images/13.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 jumbo-class">
                    <img src="images/14.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 jumbo-class">
                    <img src="images/15.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 jumbo-class">
                    <img src="images/9.jpg" class="img-fluid" alt="">
                </div>
            </div>
    </section>

    <!-- pentaoic-section end here  -->

    <!-- sexton-section start here  -->
    <section id="sexton-section" class="h-100">
        <div class="container">
            <div class="header-part text-center py-5 lh-3">
                <p class="text-danger">PRICING</p>
                <H1 class="text-dark">OUR PRICES</H1>
                <P class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, doloremque.
                    Lorem ipsum dolor sit amet.</P>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 my-awsm-card lh-2">
                    <p>Body Treatment</p>
                    <h4>2000 INR /
                        <span class="text-danger">session</span>
                    </h4>
                    <h3>Massage</h3>
                    <h3>Foot Spa</h3>
                    <h3>Spa</h3>
                    <h3>Body Spa</h3>
                    <h3>Relaxing</h3>
                    <button type="button" class="btn btn-danger btn-lg">Get Now</button>
                </div>
                <div class="col-lg-3 col-md-3 my-awsm-card lh-2">
                    <p>HAIR STYLE</p>
                    <h4>999 INR /
                        <span class="text-danger">session</span>
                    </h4>
                    <h3>Hair Dryer</h3>
                    <h3>Hair Coloring</h3>
                    <h3>Hair Cut</h3>
                    <h3>Hair Dresser</h3>
                    <h3>Hair Spa</h3>
                    <button type="button" class="btn btn-danger btn-lg">Get Now</button>
                </div>
                <div class="col-lg-3 col-md-3 my-awsm-card lh-2">
                    <p>Manicure pedicure</p>
                    <h4>1200 INR /
                        <span class="text-danger">session</span>
                    </h4>
                    <h3>Manicure</h3>
                    <h3>Pedicure</h3>
                    <h3>Coloring</h3>
                    <h3>Nails</h3>
                    <h3>Nail Cut</h3>
                    <button type="button" class="btn btn-danger btn-lg">Get Now</button>
                </div>
                <div class="col-lg-3 col-md-3 my-awsm-card lh-2">
                    <p>Makeup</p>
                    <h4>1400 INR /
                        <span class="text-danger">session</span>
                    </h4>
                    <h3>Makeup</h3>
                    <h3>Professional Makeup</h3>
                    <h3>Blush On</h3>
                    <h3>Facial Massage</h3>
                    <h3>Facial Spa</h3>
                    <button type="button" class="btn btn-danger btn-lg">Get Now</button>
                </div>
            </div>
        </div>
    </section>
    <!-- sexton-section end here  -->

    <!-- hexagon section start here  -->
    <section id="hexagon-section" class="h-75">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img src="images/15.jpg" class="pixart w-100">
                </div>

                <div class="col-lg-7 flex_display">
                    <p class="text-danger">TESTIMONY</p>
                    <h1 class="text-dark">HAPPY CUSTOMER</h1>
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                                    accusantium aliquid
                                    natus dolor expedita a quam vel animi? Vel vero quod cumque illum accusantium
                                    officiis.</p>
                                <div class="user-reviews">
                                    <img src="images/8.jpg"
                                        style="height: 70px;width: 70px;border-radius: 100%;">
                                    <h3 class="text-dark">Jassica ALba</h3>
                                    <p class="text-danger">Writer</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
                                    accusantium aliquid
                                    natus dolor expedita a quam vel animi? Vel vero quod cumque illum accusantium
                                    officiis.</p>
                                <div class="user-reviews">
                                    <img src="images/8.jpg"
                                        style="height: 70px;width: 70px;border-radius: 100%;">
                                    <h3 class="text-dark">Jassica ALba</h3>
                                    <p class="text-danger">Writer</p>
                                </div>

                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
    </section>
    <!-- septagon section end here  -->
    <section id="press" class="bg-danger">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="footer">Copyright &copy;2021 All rights reserved| Made by Shubham Rawat </p>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>